@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-image: radial-gradient(var(--dots), 1px, transparent 0);
	background-position: -20px -20px;
	background-attachment: fixed;
	background-size: 40px 40px;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: normal;
	font-family: "Roboto", "sans-serif";
}

@layer base {
	html,
	body {
		font-family: sans-serif;
		font-size: 17px;
	}
}

@layer utilities {
	.transition-bg {
		transition-property: background-color;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}
}
